*.sqlite3
bills.json
bills/
**/__pycache__
config.toml

tmo/frontend/static/*
!tmo/frontend/static/icon.svg
# Eventually remove these
node_modules/
package-lock.json
package.json
*.session.sql
.dmypy.json
