*.sqlite3
bills.json
bills/
**/__pycache__
config.toml

tmo/web/frontend/static/*
!tmo/web/frontend/static/icon.svg
!tmo/web/frontend/static/scripts.js
!tmo/web/frontend/static/dark_mode.js
!tmo/web/frontend/static/custom.css
!tmo/web/frontend/static/scripts.min.js
# Eventually remove these
node_modules/
package-lock.json
package.json
*.session.sql
.dmypy.json
.coverage
