<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/dark_mode.js"></script>
    <script>
        setDarkMode();
    </script>
    <link rel="stylesheet" href="/static/custom.css">
    {% if cdn %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/8e67a10275.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/cash-dom/dist/cash.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js "></script>
    {% else %}
    <link rel="stylesheet" href="/static/bulma.css">
    <script src="/static/fontawesome.js"></script>
    <script src="/static/brands.js"></script>
    <script src="/static/solid.js"></script>
    <script src="/static/cash.js"></script>
    <script src="/static/chart.js"></script>
    {% endif %}
    <!-- <script src="/static/dark_mode.js"></script> -->
    <title>{% block title required %}{% endblock title %}</title>
    {% block header %}{% endblock header %}
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span id='icon' style="font-size: 28px;">
                    <i class="fa-solid fa-square-phone"></i>
                </span>
                &nbsp;
                <h1 class="title">Bills!</h1>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Documentation
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a>
                            <span id="dark_toggle" style="font-size: 28px;">
                                <i class="fa-solid fa-sun"></i>
                            </span>
                        </a>
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block body required %}{% endblock body %}
</body>
{% block footer %}
<script src="/static/scripts.js"></script>
{% endblock footer %}

</html>
